---
layout: page
title: "Clients"
permalink: /clients/
---

<ul class="clients-list">

  {% assign clients = site.clients | sort: 'project_date' %}
  {% for client in clients reversed %}
    <li class="client{% cycle '', ' last' %} hvr-radial-in">
      <a href="{{ client.url | prepend: site.baseurl }}" title="{{ client.title }}" class="">

      {% if client.logo %}
      <figure>

        <img src="{{ client.logo }}" alt="{{ client.title }}"/>

      </figure>
      {% endif %}
      <h3>
        {{ client.title }}
      </h3>
      {% if client.project_date %}
        <span class="project-date">{{ client.project_date | date: '%B %Y' }}</span>
      {% endif %}

    </a>
    </li>
  {% endfor %}
</ul>