---
layout: page
title: "Clients"
permalink: /clients/
---

<section class="container content-section">

  <p class="strapline centered">Take a look at a selection of some of our recent work.</p>

</section>

<ul class="clients-list">

  {% assign clients = site.clients | sort: 'project_date' %}
  {% for client in clients reversed %}
    <li class="client{% cycle '', ' last' %} hvr-radial-in">
      <a href="{{ client.url | prepend: site.baseurl }}" title="{{ client.title }}" class="">

      {% if client.logo %}
      <figure>

        <img src="{{ client.logo }}" alt="{{ client.title }}"/>

      </figure>
      {% endif %}
      <h3>
        {{ client.title }}
      </h3>

    </a>
    </li>
  {% endfor %}
</ul>