---
layout: front

---

<article class="hero">

		<p class="hero__strapline">Eye Division create websites for arts organisations,<br>artist open studios, charities and universities.</p>

    <div id="animation_container" class="animated_logo" style="background-color:rgba(0, 0, 0, 0); width:100px; height:100px">
      <canvas id="canvas" width="100" height="100" style="position: absolute; display: block; background-color:rgba(0, 0, 0, 0);"></canvas>
      <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
      </div>
    </div>
</article>

{% assign clients = site.clients | sort: "project_date" | reverse %}

{% if clients %}
  <section class="clients-front centered">

    <h2>Recent clients</h2>

    <ul class="clients-list">

    {% for client in clients limit: 8 %}

      <li class="client{% cycle '', ' last' %}">
        <a href="{{ client.url | prepend: site.baseurl }}" title="{{ client.title }}" class="">
          {% if client.logo %}
            <figure>
              {% include img.html src=client.logo alt=client.title %}
              <figcaption><p>{{ client.title }}</p></figcaption>
            </figure>
         {% endif %}
        </a>

      </li>
    {% endfor %}
    </ul>

   <footer class="clients-front-footer">
    <p><a href="{{ site.baseurl }}/clients/" class="readmore">View all . . . <svg class="icon icon--readmore"><use xlink:href="#icon-double_angle_right" /></svg></a></p>
   </footer>

  </section>
{% endif %}


