---
layout: front
main_image_path: /assets/images/clevedon_pools.jpg
main_image_description:
---

<div class="site-header-container {% if page.main_image_path %}has-cover{% endif %}" {% if page.main_image_path %}style="background-image: url({{ page.main_image_path }});"{% endif %}>
  <div class="scrim {% if page.main_image_path %}has-cover{% endif %}">
    <header class="site-header">
      <h2 class="title">Work with us and make the web work for you</h2>
			<p>Eye Division have been creating online solutions since 2005 - from simple responsive websites to custom web applications; from social media integration to eCommerce &amp; interactive mapping; from cloud office advice to bespoke back-office tools.</p>
    </header>
  </div>
</div>


