// Primary site layout for Centrarium Theme



/*
*	Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

html {
    height: 100%;
}

body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.navigation, .site-footer {
    //@include flex(0 0 auto);
    @include flex(none);
}
.page-content {
    display: block;
    @include flex(1 0 auto);
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    //padding: 0;
}
/*

.site-content {
    @include flex(1 1 auto);
    position: relative;
    overflow-y: auto;
}
*/
.centered {
    text-align: center;
}
ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}
.image__bordered {
    border: 1px solid $light-gray;
}
code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px;
}

pre code.hljs {
    font-size: modular-scale(-1);
}

/* SVG icons */
.icon {
    fill: $action-color;
    display: inline-block;
    width: 30px;
    height: 30px;
}
a:hover .icon { /* hover colour */
    fill: $eyedivision-dark;
}
.icon--readmore {
    fill: $black;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--post {
    fill: $action-color;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--inactive {
    fill: $medium-gray;
}
.icon--logo {
    fill: $blue;
    width: 20px;
    height: 20px;
}
.icon-facebook_sign { fill: $facebook; }
.icon-instagram { fill: $instagram; }
.icon-twitter_sign { fill: $twitter; }
.icon-youtube { fill: $youtube; }
.icon-soundcloud { fill: $soundcloud; }
.icon-vimeo_square { fill: $vimeo; }
.icon-linkedin { fill: $linkedin; }

.site-header-container, .post-header-container {
    width: 100%;
    text-align: center;
    &.has-cover {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
        background-position: 50% 50%;
        background-size: cover;
        .title {
            font-size: modular-scale(6);
        }
        .subtitle, .info {
            font-size: modular-scale(1);
        }
    }
    .scrim {
        padding: 3em 1em;
        &.has-cover {
            background-color: rgba(0,0,0,0.2);
            padding: 6em 1em !important;
            @include media($large-screen) {
                padding: 9em 1em !important;
            }
        }
    }
}

/*
*	Header
*/


/*
*	Body
*/
.page-content {
    @include outer-container($page-width);

}
.page {

    @include outer-container(100%);
    padding: $navigation-height-large 0 1em;
    @include media ($large-screen) {
        padding: $navigation-height 1em 1em;
    }

    .site-header-container {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.33);
        background-color: $dark-gray;
    }
    .site-header{
        .title {
            font-size: modular-scale(6);
        }
        .subtitle {
            font-style: italic;
            font-size: modular-scale(1);
        }
    }
    .profile {
        max-width: 320px;
        margin: auto;
        padding-bottom: 0.5em;
    }
}

article {
    padding: 0 1em;
}
/*
 * About page
*/

.half {
    @include span-columns(12);
    @include media ($medium-screen) {
        @include span-columns(6);
    }
}

/*
* Contact page
*/
.contact {
    text-align: center;
    //.page {
        //@include outer-container;
    //}
}
/*
*	Footer
*/
.footer__centered {
    text-align: center;
}

.site-footer {
    text-align: center;
    @include outer-container;
    $link-color: $dark-gray;
    border-top: 1px solid $light-gray;

    padding: 1em;
    //background-color: $highlight-color;
    //color: $white;
    a {
        color: $link-color;
        &:active,
            &:focus,
            &:hover {
            color: darken($link-color, 10%);
        }
        &:active,
            &:focus {
            outline: none;
        }
    }
}

/*
*   Contact Info (left)
*/
.site-contact {
    @include span-columns(12);
    //@include media ($large-screen) {
    //    @include span-columns(6);
    //}

    font-size: 0.9em;
    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul;
    }
}
/*
*   Site Description/Signature (right)
*/
.site-signature {
    margin-top: 1em;
    @include span-columns(12);
    //@include media ($large-screen) {
    //    @include span-columns(6);
    //}
    font-size: 0.9em;
    a {
        text-decoration: underline;
    }
}