//@include parallax-init; // https://codepen.io/scottkellum/pen/bHEcA/

.front {
    background: url(/assets/images/eyebg.png);

    .hero {
        text-align: center;
        //@include parallax(-.4);
        margin: 0;
        padding: 2em;
        background-image: url('/assets/images/wild_garlic_small.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.2s ease-in-out;
        color: $eyedivision-light;
        
        @include media($medium-screen) {
            margin: 0;
            padding: 2em 2em 4em;
            background-image: url('/assets/images/wild_garlic_1200.jpg');
        }
        @include media ($large-screen) {
            padding: 10em 2em;
        }
    }
    .title {
        font-size: modular-scale(4);
        @include media ($large-screen) {
            font-size: modular-scale(6);
        }
    }
    .hero__strapline {
        
        font-size: modular-scale(2);
        @include media($medium-screen) {
            background: rgba(0,0,0,0.35);
        }
        @include media ($large-screen) {
            font-size: modular-scale(3);
        }
    }
    .clients-front {
        padding: 20px;
        

        @include media ($large-screen) {
            margin-top: 2em;
        }
        margin-bottom: 3em;
        color: $eyedivision-dark;
    }
    .clients-front-footer {
        padding-top: 2em;
    }
    .clients-list {

      @extend %default-ul;

      @include clearfix;
      align-items: stretch;
      clear: both;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        position: relative;
        text-align: center;
        line-height: 1em;
        //padding-top: 50px;
        align-self: stretch;
        background: $lightgrey;
        //border-radius: $base-border-radius;
        //box-shadow: inset 0 0 1px lighten($brand-primary, 30%), 0 1px 2px $brand-primary;
        display: block;
        flex: 1 45%;
        margin: 0;
        padding: 0;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        @media screen and (min-width: 500px) {
            flex: 4 4 13em;
            margin: 0.4em;
            padding: 1em;
        }
      }
    }
    .clients-list img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }
    figure {
        //height: 163px;
        overflow: hidden;
        //position: relative;
        //width: 289px;
    }
    figcaption {
        background: rgba($dark-gray,0.8);
        color: white;
        display: table;
        height: 100%;
        width: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        transition-delay: 100ms;
        z-index: 100;
        line-height: 1;
    }
    li:hover figcaption {
        opacity: 1;
    }
    figcaption p {
        display: table-cell;
        font-size: 1.5em;
        position: relative;
        top: -40px;
        width: 289px;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        vertical-align: middle;
    }
    li:hover figcaption p {
        -moz-transform: translateY(40px);
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    .site-footer {
        margin-top: 4em;
        border-top: none;
        font-size: modular-scale(2);
        padding-bottom: 2em;
    }

}

/* animated logo */
.animated_logo {
    //float: left;
    margin: 0 auto;
}