/*
*   Navigation
*/
.navigation {
    text-align: center;
    //padding: 0 1em;
    height: $navigation-height-mobile;
    margin: 0;
    //z-index: 100;
    //position: fixed;
    width: 100%;
    background-color: $white;

    @include media ($large-screen) {
        height: $navigation-height-large;
    }
}

// Nav menu
.navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
}
.logo {
    //float: left;
    @include media ($large-screen) {
        //float: left;
        //padding-left: $em-base;
    }
    img {
        max-height: 4.5em;
        margin-top: 0.75em;
        //padding-right: 1em;
    }

}
nav {
    float: none;
    padding: 0;
    @include media ($large-screen) {
        //padding-top: 1.2em;
        //float: right;
        //line-height: 1.5;
    }
}
.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
 * Nav menu items
 */

.nav-link {
    display: inline-block;
    padding: 0.25em 0.5em;
    @include media ($large-screen) {
        padding: 0.25em 0.75em;
        background: transparent;
        text-decoration: none;
        width: auto;
    }
    a {
        color: $black;
        display: inline-block;
    }
    &:last-child a {
        @include media ($large-screen) {
            padding-right: 1em;
        }
    }

}
.nav-link.active {
    a {
        color: $brand-primary;
    }
}

.social {
    padding: 0.25em;
}