---
layout: default
---
<div class="page">

  {% comment %}{% endcomment %}
  {% if page.screenshot %}
    <figure class="centered">
      {% include img.html src=page.screenshot width=1200 alt=page.description %}
    </figure>
  {% endif %}

    <header class="post-header">
      <h1 class="post-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
    </header>

    <article class="post-content">

      {% if page.testimonial_markdown %}
      	<blockquote>
      		<p>{{ page.testimonial_markdown | markdownify }}</p>
      		{% if page.testimonial_cite %}
      		<cite>{{ page.testimonial_cite }}</cite>
      		{% endif %}
      	</blockquote>
      {% endif %}


{{ content }}

<div class="centered">

  {% if page.logo %}

  		<p>{% include img.html src=page.logo alt=page.description %}</p>

  {% endif %}

	{% if page.start_date %}

		<p><em>Original site build: {{ page.start_date | date: '%B %Y' }}</em></p>

  {% endif %}


	{% if page.site %}

		<p><a href="{{ page.site }}">Visit the {{ page.title }} website</a></p>

  {% endif %}

</div>



  </article>
</div>