---
layout: page
---
{% if page.testimonial_markdown %}
	<blockquote>
		<p>{{ page.testimonial_markdown | markdownify }}</p>
		{% if page.testimonial_cite %}
		<cite>{{ page.testimonial_cite }}</cite>
		{% endif %}
	</blockquote>
{% endif %}

{% if page.screenshot %}
  <figure class="centered">
    {% include img.html src=page.screenshot width=960 alt=page.description %}
  </figure>
{% endif %}
{{ content }}
<div class="centered">
{% if page.logo %}

		<p><img src="{{ page.logo }}" alt="{{ page.description }} logo" class="logo"></p>

{% endif %}
	{% if page.project_date %}
		<p><em>{{ page.project_date | date: '%B %Y' }}</em></p>
	{% endif %}


	{% if page.site %}
		<p><a href="{{ page.site }}">Visit the {{ page.title }} website</a></p>
	{% endif %}
</div>

<!-- pagination - print out previous and next links for Pages / other Collections -->
{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
    {% assign  document = site[the_collection] | sort: "project_date" %}
{% endif %}

{% for links in document %}
    {% if links.title == page.title %}

        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
						{% assign prevlogo = prev.logo %}
            {% assign prevtitle = prev.title %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}

            {% assign nexturl = next.url %}
						{% assign nextlogo = next.logo %}
            {% assign nexttitle = next.title %}
        {% endunless %}
    {% endif %}

    {% assign prev = links %}
{% endfor %}

<footer class="footer__centered">
  {% if prevurl or nexturl %}
	  {% if prevurl %}
		  <a class="prev" href="{{prevurl}}">
		    <svg class="icon"><use xlink:href="#icon-chevron_left" /></svg> {% include img.html src=prevlogo width=100 alt=prevtitle %}
		  </a>
	  {% endif %}
	  {% if nexturl %}
	  	<a class="next" href="{{nexturl}}">
	      {% include img.html src=nextlogo width=100 alt=nexttitle %}  <svg class="icon"><use xlink:href="#icon-chevron_right" /></svg>
	  	</a>
	  {% endif %}
	{% endif %}
</footer>